doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<link rel="shortcut icon" href="/dist/favicons/favicon.ico">

	body
		p.p-1 Lorem ipsum dolor sit amet.
		p.p-class.p-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, hic?
		p.p-class.p-3
		.div-1
			.div-2
				| div-2
				.div-3 div-3
				.div-3 div-3
				.div-3 div-3
			| div-1
			.div-2
				| div-2
				.div-3 div-3
				.div-3 div-3
				.div-3 div-3
		input.input-1.input-text(type="text" value="value-text-1")
		input.input-2.input-text(type="text" placeholder="enter the text")
		input.input-3.input-checkbox(type="checkbox")
		input.input-4.input-checkbox(type="checkbox" checked)


